body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

#runButton {
    position: absolute;
    top: 25px;
    right: 25px;
}

#runButton > img {
    width: 64px;
    height: auto;
}

@media (prefers-color-scheme: dark) {
    #runButton > img {
        width: 64px;
        height: auto;
    }

    #runButton {
        background-color: #2A2A2F;
        border: #2A2A2F 5px solid;
        border-radius: 5px;
    }

    #runButton:hover {
        background-color: #3A3A42;
        border: #3A3A42 5px solid;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #2A2A2F;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: white;
}